
/* @media (prefers-reduced-motion: no-preference) {
  .Art-image {
    animation: Art-image-spin infinite 20s linear;
  }
} */

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: calc(10px + 2vmin); */
  color: grey;
}

.Main h1 {
  font-weight: normal;
}

.Main img {
  height: 40vmin;
  pointer-events: none;
}

.Main li {
  list-style: none;
  padding-bottom: 2vh;
}

.Main pre {
  overflow: auto;
  max-width: 50vh;
  color: black;
}

/* @keyframes Art-image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
