.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: calc(10px + 2vmin); */
  color: grey;
}

.Page h1 {
  font-weight: normal;
}

.Page img {
  height: 40vmin;
  pointer-events: none;
}

.Page li {
  list-style: none;
  padding-bottom: 2vh;
}

.Page pre {
  overflow: auto;
  max-width: 50vh;
  color: black;
}
